<!DOCTYPE html>
<html>
    <head>
        <link
            href="css/style.css"
            rel="stylesheet"
            type="text/css"
            media="all"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Type"
            content="text/html; charset=utf8_unicode_ci"
        />
       <%- include ('../scripts/helpers'); %>
    </head>
    <body onload="start_encounter()">
        
        <h1 class="main_header"></h1>

        <h2>Round 1</h2>

        <div class="ct_round">
            <div class="ct_grid4columns">
                <div class="section header ct_turn_bookends">AC</div>
                <div class="section header ct_turn_bookends">HP</div>
                <div class="section header ct_turn_bookends">Character</div>
                <div class="section header ct_turn_bookends">Init</div>
                <div class="section ct_turn_bookends">15</div>
                <div class="section ct_turn_bookends">34</div>
                <div class="section ct_turn_bookends">Viktor</div>
                <div class="section ct_turn_bookends">13</div>
                <div class="section ct_turn_bookends">15</div>
                <div class="section ct_turn_bookends">34, 30, 26</div>
                <div class="section ct_turn_bookends">Viktor</div>
                <div class="section ct_turn_bookends">12</div>
                <div class="section ct_turn_bookends">15</div>
                <div class="section ct_turn_bookends">34</div>
                <div class="section ct_turn_bookends">Viktor</div>
                <div class="section ct_turn_bookends">4</div>
            </div>
            <div class="ct_grid4columns">
                <div class="section header attack">Attack</div>
                <div class="section header attack">Hit?</div>
                <div class="section header attack">Target(s)</div>
                <div class="section header attack">HPs</div>
                <div class="section attack">longsword</div>
                <div class="section attack">X</div>
                <div class="section attack">Giant Spider #1</div>
                <div class="section attack">13</div>
                <div class="section attack">15</div>
                <div class="section attack">X</div>
                <div class="section attack">Viktor</div>
                <div class="section attack">12</div>
                <div class="section attack">15</div>
                <div class="section attack"></div>
                <div class="section attack">Viktor</div>
                <div class="section attack">4</div>
            </div>
            <div class="ct_grid4columns">
                <div class="section header bonus">Bonus</div>
                <div class="section header bonus">Hit?</div>
                <div class="section header bonus">Target(s)</div>
                <div class="section header bonus">HPs</div>
                <div class="section bonus">dagger</div>
                <div class="section bonus">X</div>
                <div class="section bonus">Giant Spider #1</div>
                <div class="section bonus">4</div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
                <div class="section bonus"></div>
            </div>
            <div class="ct_grid4columns">
                <div class="section header reaction">React</div>
                <div class="section header reaction">Hit?</div>
                <div class="section header reaction">Target(s)</div>
                <div class="section header reaction">HPs</div>
                <div class="section reaction"><span class="available">available</span></div>
                <div class="section reaction">X</div>
                <div class="section reaction">Giant Spider #1</div>
                <div class="section reaction">4</div>
                <div class="section reaction"><span class="available">available</span></div>
                <div class="section reaction"></div>
                <div class="section reaction"></div>
                <div class="section reaction"></div>
                <div class="section reaction"><span class="available">available</span></div>
                <div class="section reaction"></div>
                <div class="section reaction"></div>
                <div class="section reaction"></div>
            </div>
            <div class="ct_grid4columns">
                <div class="section header ct_turn_bookends">Drop</div>
                <div class="section header ct_turn_bookends">Start</div>
                <div class="section header ct_turn_bookends">End</div>
                <div class="section header ct_turn_bookends">Notes</div>
                <div class="section ct_turn_bookends">dagger</div>
                <div class="section ct_turn_bookends">prone</div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
                <div class="section ct_turn_bookends"></div>
            </div>
        </div>
    </body>
</html>
