<div id="modal" class="modal">
    <div id="modal-content">
        <div id="modal-header">
           <!-- The &times; below is the X for closing modal. -->
            <span class="close-modal">&times;</span> 
            <h2>     Combat Tracker</h2>
        </div>
        <div id="modal-body">
            
            </form>
        </div>
        <div id="modal-footer">
           <h3>Dungeons & Dragons</h3>
        </div>
    </div>
</div>