body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ct_grid4columns {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: start;
    grid-gap: 2px;
    background-color: black;
    border: solid black 2px;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(2em, auto);
    align-items: stretch;
    max-width: 600px;
    min-width: max-content;
}

.section {
    display: inline-block;
    padding: 0.5em;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
    min-height: 1.5em;
}

.header {
    font-size: 1.4em;
}

.ct_round {
    display: flex;
}

.hidden {
    display: none;
    /* visibility: hidden; */
}

.attack {
    background-color: lightcyan;
}

.attack_alt {
    background-color: pink;
}

.ct_turn_bookends {
    background-color: white;
}

.bonus {
    background-color: rgb(176, 250, 154);
}

.react {
    background-color: rgb(247, 194, 96);
}

.available {
    background-color: yellow;
    border: 0.2em solid black;
    padding: 0px 0.2em;
}

.center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    /* background-color: red;
    color: white; */
    background-color: gray;
    color: white;
}

.bold-target {
    font-weight: bold;
    font-size: 1.2em;
    background-color: lightgreen;
}

.selected {
    background-color: lightsalmon;
}

.participantGray {
    background-color: darkslategray;
    color: lightgray;
    padding: .1em .6em;
}

.hitGreen {
    background-color: green;
}

.lightred {
    background-color: red;
    color: white;
    padding: 2px;
}

.downed-participants {
    color: gray;
    text-decoration: line-through;
    padding-left: 2em;
}

.button {
    margin-right: 30px;
    font-size: 1em;
}

.dropdown {
    font-size: 1em;
}

.left {
    text-align: left;
}

hr {
    height: 5px;
    background-color: black;
}

.radio_buttons {
    font-size: 1em;
}

/*
    Context Menu Stuff!
*/

.custom-cm {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.custom-cm__item {
    cursor: pointer;
    padding: 8px 15px;
}

.custom-cm__item:hover {
    background-color: #f8f8f8;
}

.custom-cm__divider {
    margin: 10px 0;
    border-bottom: 1px solid darkgray;
}

.arrow-container::before {
    content: "\2192"; /* Unicode character for right arrow */
    font-size: 1.6em;
  }
  

.concentration {
    background-color: yellow;
    font-weight: bold;
    outline: 3px;
    margin-left: 5px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.holding {
    background-color: darkgreen;
    color: white;
    /* font-weight: bold; */
    outline: 3px;
    margin-left: 5px;
    border: 2px solid black;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 5px;
}

.conSavingThrowCheck {
    font-weight: bold;
    background-color: red;
    color: white;
    padding-left: 2px;
    padding-right: 3px;
}

.affected {
    background-color: pink;
    font-weight: bold;
    outline: 3px;
    margin-left: 5px;
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    color: black;
}

.modal_text_inputs {
    font-size: 1em;
    margin-left: 5px;
}

textarea {
    overflow-wrap: break-word;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text_field {
    height: 15px;
    line-height: 12px;
    padding: 5px;
    font-size: 1em;
    width: 50%;
}

.numeric {
    width: 40px;
}

.flex_horizontal {
    display: flex;
}

.horizontal_bottom {
    min-height: 200px;
    font-size: 1.2em;
}

.flex-left {
    width: max-content;
}

.flex-right {
    width: max-content;
    /* padding-left: 10%; */
}

.checkboxes {
    display: flex;
    text-align: right;
    /* font-size: 1.5em; */
    /* line-height: 1.2em; */
    align-items: center;
    cursor: pointer;
}

.checkboxes input {
    display: flex;
    align-items: center;
}

.conditions_list_div {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow: auto;
}

.div_bottom_right {
    max-width: 700px;
    padding: 15px;
}

.button_container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 15px;
}

button {
    height: 25px;
    font-size: 1.2em;
    width: max-content;
}

/* Modal boxes */

#modal-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 1.3s;
}

#modal-open,
input[type="submit"] {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #32a84e;
}

#modal-open,
input[type="button"] {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #32a84e;
}

#modal-open:hover {
    background: #3e78c7;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 20;
}

/* MODAL */

#modal-content {
    background: #efefef;
    margin: 55px auto;
    width: max-content;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: modalSlideUp;
    animation-duration: 0.72s;
    max-width: 50%;
    min-width: 900px;
}

.modal_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding-right: 35px;
}

.modal_column_int {
    border: 2px solid lightgray;
    padding: 5px;
}

#modal-header {
    background: gray;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

#modal-header .close-modal {
    font-size: 40px;
    float: right;
    margin-top: -13px;
}

#modal-header .close-modal:hover {
    color: #333;
    cursor: pointer;
}

#modal-footer {
    background: gray;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

h3 {
    margin-top: 1px;
}

#modal-body {
    padding: 1px 13px;
    border-left: 15px solid gray;
    border-right: 15px solid gray;
    min-height: 200px;
}

#modal-body h3 {
    color: black;
    text-transform: uppercase;
    /* font-size: 25px; */
    text-align: left;
    margin: 30px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    border: 0px 4px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.topLeftDiv {
    flex: 1 0 0 33%;
    width: 33%;
}
.topMiddleDiv {
    flex: 0 1 0 33%;
    width: 33%;
}
.topRightDiv {
    flex: 0 0 1 33%;
    width: 33%;
}

.modalContainer {
    width: 100%;
    border: 0px 4px solid black;
}

@keyframes modalSlideUp {
    0% {
        transform: translateY(1500px);
    }

    100% {
        transform: translateY(0);
    }
}

.pointer {
    cursor: pointer;
    user-select: none;
}

/* Tooltip stuff */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid black;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 200px;

    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.6;
}

.hovertwin {
    transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
    cursor: pointer;
}
  
  
  .hovered {
    background-color: white;
    outline: 10px black solid;
    z-index: 5;
  }
  