body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ct_grid4columns {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: start;
    grid-gap: 2px;
    background-color: black;
    border: solid black 2px;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(2em, auto);
    align-items: stretch;
    max-width: 600px;
}

.section {
    display: inline-block;
    padding: 0.5em;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 1.5em;
}

.header {
    font-size: 1.4em;
}

.ct_round {
    display: flex;
}

.attack {
    background-color: lightcyan;
}

.attack_alt {
    background-color: pink;
}

.ct_turn_bookends {
    background-color: white;
}

.bonus {
    background-color: rgb(176, 250, 154);
}

.react {
    background-color: rgb(247, 194, 96);
}

.available {
    background-color: yellow;
    border: 0.2em solid black;
    padding: 0px 0.2em;
}

.center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.selected {
    background-color: orange;
}
.lightred {
    background-color: red;
    color: white;
    padding: 2px;
}

/* Modal boxes */

#modal-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 1.3s;
  }
  
  #modal-open, input[type='submit'] {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #32a84e;
  }
  
  #modal-open, input[type='button'] {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #32a84e;
  }
  
  #modal-open:hover {
    background: #3e78c7;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.05);
  }
  
  /* MODAL */
  
  #modal-content {
    background: #efefef;
    margin: 55px auto;
    width: 48%;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: modalSlideUp;
    animation-duration: .82s;
  }
  
  #modal-header {
    background: orange;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  #modal-header .close-modal {
    font-size: 40px;
    float: right;
    margin-top: -13px;
  }
  
  #modal-header .close-modal:hover {
    color: #333;
    cursor: pointer;
  }
  
  #modal-footer {
    background: orange;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  #modal-body {
    padding: 5px 3px;
  }
  
  #modal-body h3 {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @keyframes modalSlideUp {
    0% {
      transform: translateY(1500px);
    }
    100% {
      transform: translateY(0);
    }
  }